/* HOME PAGE */
.jumbotron {
	background-color: #f4511e;
	color: #fff;
	padding: 100px;
}

.container-fluid {
	padding: 60px 50px;
}

.bg-grey {
	background-color: #bdc3c7;
}

/* SERVICES */
.logo {
	color: #f4511e;
	font-size: 200px;
}

.logo-small {
	color: #f4511e;
	font-size: 50px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

/* PORTOFOLIO */
.thumbnail {
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}

.thumbnail img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px; 
}

/* CAROUSEL */
.carousel-control.right, .carousel-control.left {
	background-image: none;
	color: #f4511e;
}

.carousel-indicators li {
	border-color: #f4511e;
}

.carousel-indicators li.active {
	background-color: #f4511e;
}

.item h4 {
	font-size: 19px;
	line-height: 1.375em;
	font-weight: 400;
	font-style: italic;
	margin: 70px 0; 
}

.item span {
	font-style: normal;
}