{% extends 'lab_2/layout/base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
<!-- HOME PAGE -->
<section class="jumbotron text-center">
	<h1>Company</h1> 
	<p>We specialize in blablabla</p> 

	<!-- Block code for the form -->
	<form class="form-inline">
		<div class="input-group">
			<input type="email" class="form-control" size="50" placeholder="Email Address required">
			<div class="input-group-btn">
				<button type="button" class="btn btn-danger">
					Subscribe
				</button>
			</div>
		</div>
	</form>
	<!-- Endblock for the FORM -->
</section>
<!-- END OF HOME PAGE -->

<!-- ABOUT COMPANY -->
<section class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<h2>About Company Page</h2>
			<h4>Lorem ipsum ..</h4>
			<p>Lorem ipsum ..</p>
			<button class="btn btn-default btn-lg">Get in Touch</button>
		</div>
		<div class="col-md-4">
			<span class="glyphicon glyphicon-signal logo"></span>
		</div>
	</div>
</section>
<!-- END OF ABOUT COMPANY -->

<!-- OUR VALUES -->
<section class="container-fluid bg-grey">
	<div class="row">
		<div class="col-md-4">
			<span class="glyphicon glyphicon-globe logo"></span>
		</div>
		<div class="col-md-8">
			<h2>Our Values</h2>
			<h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
			<p><strong>VISSION:</strong> Our vision lorem ipsum</p>
		</div>
	</div>
</section>
<!-- END OF OUR VALUES -->

<!-- SERVICES -->
<section class="container-fluid text-center">
	<h2>SERVICES</h2>
	<h4>What we offer</h4>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-off logo-small"></span>
			<h4>POWER</h4>
			<p>Lorem ipsum dolor sit amet..</p>
		</div>
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-heart logo-small"></span>
			<h4>LOVE</h4>
			<p>Lorem ipsum dolor sit amet..</p>
		</div>
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-lock logo-small"></span>
			<h4>JOB DONE</h4>
			<p>Lorem ipsum dolor sit amet..</p>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-leaf logo-small"></span>
			<h4>GREEN</h4>
			<p>Lorem ipsum dolor sit amet..</p>
		</div>
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-certificate logo-small"></span>
			<h4>CERTIFIED</h4>
			<p>Lorem ipsum dolor sit amet</p>
		</div>
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-wrench logo-small"></span>
			<h4>HARD WORK</h4>
			<p>Lorem ipsum dolor sit amet..</p>
		</div>
	</div>
</section>
<!-- END OF SERVICES -->

<!-- PORTOFOLIO -->
<section class="container-fluid text-center bg-grey">
	<h2>PORTOFOLIO</h2>
	<br>
	<h4>What we have created</h4>
	<br>
	<div class="row text-center">
		<div class="col-sm-4">
			<div class="thumbnail">
				<img src="{% static 'img/book.jpeg' %}">
				<p><strong>BOOK ONE</strong></p>
				<p>Yes, this is the first</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="thumbnail">
				<img src="{% static 'img/book2.jpeg' %}">
				<p><strong>BOOK TWO</strong></p>
				<p>This is the second</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="thumbnail">
				<img src="{% static 'img/book3.jpeg' %}">
				<p><strong>BOOK THREE</strong></p>
				<p>This is the last</p>
			</div>
		</div>
	</div>
</section>
<!-- END of PORTOFOLIO -->

<!-- CAROUSEL -->
<section id="myCarousel" class="carousel slide text-center" data-ride="carousel">
	<!-- Indicator -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<h4>"This company is the best. I am so happy with the result!"<br><span style="font-style: normal;">Michael Roe, Vice President, Comment Box</span></h4>
		</div>
		<div class="item">
			<h4>"One word... WOW!!"<br><span style="font-style: normal;">John Doe, Salesman, Rep Inc</span></h4>
		</div>
		<div class="item">
			<h4>"Could I... BE any more happy with this company?"<br><span style="font-style: normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
		</div>
	</div>

	<!-- Left and Right control -->
	<a href="#myCarousel" class="left carousel-control" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a href="#myCarousel" class="right carousel-control" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>

</section>
<!-- END of CAROUSEL -->
{% endblock %}