{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="description" content="LAB 2 Addon">
   <meta name="author" content="{{author}}">
   <!-- bootstrap csss -->
   <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton:400,700">
   <title>Lab 2 Addon</title>
</head>
<body>
   <header>
      {% include "lab_2_addon/partials/header.html" %}
   </header>
   <content>
      {% block content %}

      {% endblock %}
   </content>
   <footer>
      {% include "lab_2_addon/partials/footer.html" %}
   </footer>
   <!-- Jquery n Bootstrap Script -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>