.welcome-page {
	background-color: #AFBDD4;
	font-family: Anton;
	padding: 250px;
}
#title-page {
	font-size: 50px;
}
#title-profile {
	font-family: Anton;
	font-size: 40px;
}
.profile-space {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 100px;
}
.sub-profile-space {
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.pic-space {
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 150px;
	padding-right: 50px;
	
}
#pic {
	max-height: 500px;
	border-radius: 20%;
}
.profile {
	background-color: #D8DFE8;
}