.jumbotron {
	background-image: url("diary.83f1c8916ede.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 600px;
	color: white;
	padding: 200px;

	
background: -webkit-linear-gradient(to right, #2C7744, #5A3F37);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C7744, #5A3F37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header-img {
	background: linear-gradient(to right, red , blue);
}
