.jumbotron {
	background-image: url("diary.83f1c8916ede.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 600px;
	color: white;
	padding: 200px;
}

.header-img {
	background: linear-gradient(to right, red , blue);
}
