.welcome-page {
	background-color: #AFBDD4;
	font-family: Anton;
	font-size: 70px;
	padding: 300px;
}
.profile-space {
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.pic-space {
	padding: 70px;
	background-color: #D8DFE8;
}
#pic {
	max-height: 500px;
	border-radius: 20%;
}