{% extends "lab_1/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<section class="welcome-page">
	<div class="container-fluid text-center">
		<h1 id="title-page">{{ name }}</h1>
		<h3>That's my name</h3>
		<article>I am {{ age }} years old</article>
	</div>
</section>
<!-- <section class="profile">
	<div class="row container-fluid">
		<div class="col-md-6 pic-space ">
			<img src="{% static 'img/Picture1.jpg' %}" id="pic">
		</div>
		<div class="col-md-6 profile-space">
			<div class="text-center">
				<h1 id="title-profile">MyProfile</h1>
			</div>
			
			<div class="sub-profile-space">
				<ul>
					<li>Nama	: {{ name }}</li>
					<li>TTL		: Bogor, {{ birth_date }} {{ birth_month }} {{ birth_year }}</li>
				</ul>

				<h1>Hello my name is {{ name }}</h1>
				<article>I am {{ age }} years old</article>
			</div>
			
		</div>
	</div>
	
</section> -->

{% endblock %}