{% extends 'lab_3/layout/base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
<section>
	<div class="jumbotron text-center">
		<h1>Catatan Harianku</h1>
		<h4>Ceritakan harimu padaku.</h4>
	</div>
</section>
{% endblock %}